body {
    font-family: "Arial", sans-serif;
    background-color: #ffffff;
}

#page_container {
    width: 1200px;
    margin: 0 auto;
    /*border: 1px solid #000000;*/
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.175)
}

#logo {
    /*border: 1px solid #000000;*/
    width: 180px;
    padding: 30px 0 30px 60px;
    /*padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;*/
    float: left;
}

#logo img {
    width: 80px;
}

h1 {
    font-size: 35pt;
}

#page_title {
    /*border: 1px solid #000000;*/
    padding-top: 18px;
    width: 800px;
    float: left;
    text-align: center;
}

nav {
    /*border: 1px solid #000000;*/
    clear: both;
    background-color: #e8e8e8;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(126, 123, 123);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover {
    background-color: rgb(198, 12, 48);
}

#ncea_logo {
    width: 600px;
    float: left;
}

#about_digi {
    /*border: 1px solid #000000;*/
    width: 520px;
    float: left;
    padding: 0 15px;
    text-align: justify;
}

#about_digi p {
    font-size: 15pt;
}

section {
    overflow: auto;
}

#outcome_standard {
    color: #ffffff;
    background-color: rgb(126, 123, 123);
    margin-top: -5px;
}

#standard_info {
    /*border: 1px solid #000000;*/
    width: 740px;
    float: left;
    padding-left: 20px;
    background-color: transparent;
}

#standard_info li {
    font-size: 20px;
}

#web_logos {
    width: 420px;
    float: left;
    /*padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;*/
    padding: 15px 0 10px 15px;
    background-color: transparent;
}

#web_logos img {
    width: 400px;
}

#python_logo {
    width: 400px;
    float: left;
}

#python_logo img {
    width: 400px;
}

footer {
    text-align: center;
    background-color: rgb(126, 123, 123);
    color: #ffffff;
}